@import './variables.scss';

body {
    margin: 0;
    padding: 0;
    background: $bg;
    color: $text;
    font-family: Arial, sans-serif;
}

h1,
h2 {
    margin-bottom: 10px;
}

button {
    cursor: pointer;
}